.text-icon-sm{
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    text-align: left;
    color: #fff;
    > a{
        float: left;
        color: #fff;
    }

    .text-icon-sm__icon{
        margin: 0;
        .icon{
            background-position: top center;
        }
    }

    a:hover{
        color: @link-color;
        text-decoration: none;
        font-weight: bold;

        .icon_light,
        .icon_gas,
        .icon_heat,
        .icon_water,
        .icon_home-circle{
            background-position: bottom center;
        }
    }
    a:focus{
        text-decoration: none;
    }
}

.text-icon-sm__text{
    margin-top: 10px;
    //margin-left: -10px;
    display: block;
    max-width: 110px;
    text-align: center;
}

@media (max-width: @screen-xs-max) {
    .text-icon-sm{
        width: 50%;
        margin-bottom: 30px;
    }
    .text-icon-sm:last-child{
        width: 100%;
        margin-bottom: 0;
    }
    .text-icon-sm__text{
        margin-top: 10px;
    }
}
