.text-icon-sm{
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    text-align: center;
}
.text-icon-sm__icon{
    margin: 0;
}
.text-icon-sm__text{
    margin-top: 30px;
    display: block;
    color: #fff;
}
